@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color-darker: rgba(10, 48, 171, 0.823);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: rgb(48, 42, 42);
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form button {
  border: none;
  background: rgb(237, 158, 31);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}

.error-text {
  font-size: 12px;
  color: red;
}
li{
  list-style-type: none;
}
footer{
  display: flex;
  justify-content: center;
}
.container2{
  max-width: 720px;
  margin: 80px auto;
  background: rgb(253, 253, 253);
  padding: 20px;
  border-radius: 50px;
}